<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.rosegoldgardens.rosegoldmarkets</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rosegoldmarkets</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb436637955105906</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>436637955105906</string>
	<key>FacebookClientToken</key>
	<string>323a8da363ffe77823e3eea2ed2fca48</string>
	<key>FacebookDisplayName</key>
	<string>Rose Gold Markets</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>instagram-stories</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AccentColor</string>
		<key>UIImageName</key>
		<string>LaunchScreen</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
	</dict>
</dict>
</plist>
